addict==2.4.0
aiohttp==3.9.5
attr==0.3.2
click==8.1.7
fastapi==0.111.0
future==0.18.3
GitPython==3.1.43
h5py==3.9.0
httpx==0.27.0
langchain==0.1.0
matplotlib==3.7.2
networkx==3.1
numpy==1.24.4
openai==0.27.2
overrides==7.7.0
pettingzoo==1.24.3
plotly==5.15.0
pydantic==2.7.1
pydantic_core==2.18.2
pydantic-settings==2.0.3
PyYAML==6.0.1
Requests==2.31.0
rich==13.7.1
setuptools==69.2.0
shapely==2.0.1
streamlit==1.30.0
uvicorn==0.29.0
wrapt==1.16.0